*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background:snow ;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box-head{
    padding: 10px 100px;
    position: relative;
    border: 3px solid black;
    background: #d9ff00;
    font-size: 30px;
    box-shadow: 8px 8px 0 black;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 5px;

}

.card{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 30px;
    box-shadow: 12px 12px 0 black;
    width: 24rem;
    border-radius: 6px;
}
.card .len{
    font-size: 14px;
    border-bottom:  2px solid black;
    
}
.card #passwordlen {
    width: 280px;
    border:3px solid black;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
}



.option{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}
.left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon{
    border: 3px solid black;
    padding: 8px 12px;
    font-weight: bold;
    background: #d9ff00;
    margin: 5px;
    position: relative;
    right: 30px;
}
.text{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    right: 23px;

}
.option input{
    width: 20px;
    height: 20px;
    appearance: none;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
    left: 20px;
}
.option input:checked{
    background-color: #d9ff00;
}
.include p {
    font-size: 18px;
    position: relative;
    right: 20px;
}
.include{
    position: relative;
    bottom: 20px;
}
.submit button{
    padding: 12px 20px;
    font-size: 20px;
    position: relative;
    bottom: 30px;
    /* border-radius: 5px; */
    border: 3px solid black;
    background-color: #d9ff00;
    box-shadow: 6px 6px 0 black;
    cursor: pointer;
    transition: all 0.1s ease ;
}
.submit button:active{
    transform: translate(6px,6px);
    box-shadow: none;
}
.output{
    width: 280px;
    border: 2px solid black;
    padding: 30px;
    position: relative;
    bottom: 25px;
    box-shadow: 8px 8px 0 black;
    height: 140px;
}
.output .outputtitle{
    position: relative;
    bottom: 25px;
    right: 22px;
    font-size: 18px;

}
.output #ps{
    border: 1px solid gray;
    padding: 10px 15px;
    font-size: 18px;
    position: relative;
    right: 20px;
    top: 20px;

}
.output button {
    width: 40px;
    height: 50px;
    position: relative;
    left: 200px;
    top: -15px;
    background-color: #d9ff00;
    cursor: pointer;
}
.dots{
    position: absolute;
    top: 200px;
    left: 350px;
    width: 100px;
}
.dots3{
    position: absolute;
    top: 290px;
    left: 350px;
    width: 100px;
}
.curv{
    position: absolute;
    top: 340px;
    left: 500px;
    width: 350px;
    /* height: 10px; */
}
.plus{
     position: absolute;
    top: 50px;
    left: 900px;
    width: 70px;
}
.plus3{
     position: absolute;
    top: 550px;
    left: 350px;
    width: 70px;
}
.plus4{
     position: absolute;
    top: 550px;
    left: 390px;
    width: 70px;
}
.plus5{
     position: absolute;
    top: 500px;
    left: 390px;
    width: 70px;
}
.zig{
     position: absolute;
    top: 400px;
    left: 900px;
    width: 200px;
}
.dots2{
     position: absolute;
    top: 250px;
    left: 900px;
    width: 100px;
}
.plus2{
     position: absolute;
    top: 500px;
    left: 350px;
    width: 70px;
}