*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background:snow ;
    padding: 30px;
    /* display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center; */
    position: relative;
    min-height: 100vh;
    
}
.main{
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;  
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.box-head{
    padding: 10px 100px;
    position: relative;
    border: 3px solid black;
    background: #d9ff00;
    font-size: 30px;
    box-shadow: 8px 8px 0 black;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 5px;

}

.card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: stretch;
    justify-content: center;
    border: 2px solid black;
    padding: 30px;
    box-shadow: 12px 12px 0 black;
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
}
.card .len{
    font-size: 14px;
    border-bottom:  2px solid black;
    
}
.card #passwordlen {
    width: 100%;
    border:3px solid black;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
}



.option{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}
.left{
    display: flex;
    align-items: center;
    gap: 12px;
}
.icon{
    border: 3px solid black;
    padding: 8px 12px;
    font-weight: bold;
    background: #d9ff00;
    /* margin: 5px; */
    
}
.text{
    font-size: 20px;
    font-weight: 600;
    

}
.option input{
    width: 20px;
    height: 20px;
    appearance: none;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 50%;
    
}
.option input:checked{
    background-color: #d9ff00;
}
.option{
    margin: 8px;
}
.include p {
    font-size: 18px;
   
}

.submit button{
    padding: 12px 20px;
    font-size: 20px;
    
    /* border-radius: 5px; */
    border: 3px solid black;
    background-color: #d9ff00;
    box-shadow: 6px 6px 0 black;
    cursor: pointer;
    transition: all 0.1s ease ;
    display: flex;
    justify-content: center;
}
.submit button:active{
    transform: translate(6px,6px);
    box-shadow: none;
}
.output{
    width: 100%;
    border: 2px solid black;
    padding: 30px;
   
    box-shadow: 8px 8px 0 black;
    height: 140px;
}
.output .outputtitle{
    font-size: 18px;

}
.output div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.output #ps{
    border: 1px solid gray;
    padding: 10px 15px;
    font-size: 18px;

}
.output button {
    width: 40px;
    height: 50px;

    background-color: #d9ff00;
    cursor: pointer;
}.dots{
    position: absolute;
    top: 15%;
    left: -35%;
    width: 30%;
}

.dots3{
    position: absolute;
    top: 28%;
    left: -35%;
    width: 30%;
}

.curv{
    position: absolute;
    top: 35%;
    left: 0%;
    width: 80%;
}

.plus{
    position: absolute;
    top: 5%;
    left: 120%;
    width: 30%;
}

.plus3{
    position: absolute;
    top: 73%;
    left: -25%;
    width: 20%;
}

.plus4{
    position: absolute;
    top: 80%;
    left: -38%;
    width: 20%;
}

.plus5{
    position: absolute;
    top: 73%;
    left: -38%;
    width: 20%;
}

.zig{
    position: absolute;
    top: 40%;
    left: 120%;
    width: 30%;
}

.dots2{
    position: absolute;
    top: 25%;
    left: 108%;
    width: 40%;
}

.plus2{
    position: absolute;
    top: 80%;
    left: -25%;
    width: 20%;
}
.dots, .dots2, .dots3,
.plus, .plus2, .plus3, .plus4, .plus5,
.zig, .curv{
    pointer-events: none;
    z-index: -1;
    position: absolute;
}